<style>
  body, html {
      height: 100%;
      margin: 0px;
      font-family: 'Open Sans', sans-serif;
  }

  .bg {
      /* The image used */
      background-image: url("<%= get_image_url %>");

      /* Full height */
      height: 100%;

      opacity: .7;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .quote {
    color: white;
    margin: 0;
    padding: 20px;
    position: relative;
    margin-top: 10%;
    background-color: rgba(0,0,0,0.3);
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 8px;
    line-height: 1.5em;
    white-space: pre-wrap;
  }

  .drew {
    width: 30px;
    margin-right: 5px;
  }

  .by {
    background-color: #4AB3F4;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px;
    padding:  10px 20px;
    border: 1px solid transparent;
    border-top-left-radius: 10px;
  }

  .by:hover {
    background-color: #1DA1F2;
  }

  .by_text {
    font-weight: 800;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
  }
</style>

<div class='bg'>
  <div class='col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center'>
    <h1 class='quote'><%= get_quote %></h1>
  </div>
  <%= link_to 'https://twitter.com/drewhaines3', target: '_blank' do %>
    <p class='by'>
      <span>
        <%= image_tag 'drew.jpg', class: 'img-circle drew' %>
      </span>
      <span class='by_text'>
        by drewhaines3
      </span>
    </p>
  <% end %>
</div>
